*,
*::before,
*::after {
  box-sizing: border-box;
}

.textarea-container,
.backdrop,
textarea {
  width: 100%;
  height: 180px;
}

.highlights,
textarea {
  padding: 10px;
  font: 20px/28px 'Open Sans', sans-serif;
  letter-spacing: 1px;
}

.textarea-container {
  display: block;
  margin: 0 auto;
  transform: translateZ(0);
  -webkit-text-size-adjust: none;
}

.backdrop {
  position: absolute;
  z-index: 1;
  border: 2px solid rgba(68, 68, 68, 0.301);
  background-color: #fff;
  overflow: auto;
  pointer-events: none;
  transition: transform 1s;
}

.highlights {
  white-space: pre-wrap;
  word-wrap: break-word;
  color: transparent;
}

textarea {
  display: block;
  position: absolute;
  z-index: 2;
  margin: 0;
  border: 2px solid rgba(68, 68, 68, 0.301);
  border-radius: 0;
  color: #444;
  background-color: transparent;
  overflow: auto;
  resize: none;
  transition: all 0.4s;
}

mark {
  color: transparent;
  background-color: transparent;
  border-bottom: 3px solid #d1111748;
  padding: 0px;
}

textarea:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(68, 68, 68, 0.137);
}

textarea:hover {
  outline: none;
  box-shadow: 0 0 0 2px rgba(68, 68, 68, 0.137);
}
