*,
*::before,
*::after {
  box-sizing: border-box;
}

textarea {
  z-index: 2;
  margin: 0;
  width: 100%;
  min-height: 7em;
  align-content: center;
  vertical-align: middle;
  border: 2px solid #666666;
  text-align: center;
  border-radius: 0;
  color: #444;
  overflow: auto;
  resize: none;
  transition: transform 1s;
}

textarea:focus {
  color: #444;
}

.textarea-container {
  display: block;
  margin: 0 auto;
  width: 100%;
  transform: translateZ(0);
  -webkit-text-size-adjust: none;
}

.backdrop {
  position: absolute;
  z-index: 1;
  border: 2px solid rgba(68, 68, 68, 0.301);
  background-color: #fff;
  overflow: auto;
  pointer-events: none;
  transition: transform 1s;
}

.highlights {
  white-space: pre-wrap;
  word-wrap: break-word;
  color: transparent;
}

mark {
  color: transparent;
  background-color: transparent;
  border-bottom: 3px solid #d1111748;
  padding: 0px;
}

.validation li {
  font-family: Poppins-Regular;
  font-size: 14px;
  line-height: 1.7;
  color: #666666;
}

.center-text {
  text-align: center;
}

#apply-button-holder {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  background: white;
  padding: 10px;
  width: 250px;
  margin: 0 auto;
  position: relative;
  top: 50%;
  transform: translateY(-65%);
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
}

.apply-button {
  background: #3d4c53;
  margin: 0 auto;
  width: 300px;
  height: 50px;
  overflow: hidden;
  text-align: center;
  transition: 0.2s;
  cursor: pointer;
  border-radius: 3px;
  font-family: Roboto;
}
.btnTwo {
  position: relative;
  width: 200px;
  height: 101px;
  margin-top: -100px;
  padding-top: 2px;
  background: #58b846;
  left: -250px;
  transition: 0.3s;
}
.btnText {
  color: white;
  transition: 0.3s;
  padding: 13px;
  font-weight: 800;
}
.btnText2 {
  margin-top: 63px;
  margin-right: -130px;
  color: #fff;
}
.apply-button:hover .btnTwo {
  /*When hovering over .button change .btnTwo*/
  left: -130px;
}
.apply-button:hover .btnText {
  /*When hovering over .button change .btnText*/
  margin-left: 65px;
}
.apply-button:active {
  /*Clicked and held*/
  box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.3);
}

.form-control {
  resize: auto;
}

.form-control:focus {
  border-color: rgba(0, 0, 0, 0.15);
}

.form-control.has-success {
  border-color: #3c763d;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.form-control.has-success:focus {
  border-color: #2b542c;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #67b168;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #67b168;
}

.form-control.has-error {
  border-color: #a94442;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.form-control.has-error:focus {
  border-color: #843534;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
}

.form-control.has-warning {
  border-color: #8a6d3b;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.form-control.has-warning:focus {
  border-color: #66512c;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #c0a16b;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #c0a16b;
}

.error-border {
  border-color: #a94442;
}

.swal-text {
  text-align: center;
}

#mainWrapper {
  height: 0;
  transition: height 0.3s ease-out;
}

.component-fade-in {
  animation-delay: 0.3s;
  -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 1s; /* Firefox < 16 */
  -ms-animation: fadein 1s; /* Internet Explorer */
  -o-animation: fadein 1s; /* Opera < 12.1 */
  animation: fadein 1s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
